.button
    width: 350px
    border-radius: 10px
    background-color: $main
    border: none 
    cursor: pointer
    outline: none 
    color: #0c3b5b
    font-size: 18px
    font-weight: 600
    padding: 24px

.button.button-w100
    width: 100%

h2.title
    font-size: 48px
    font-weight: 800
    &--white
        color: #ffffff