.about-us
    position: relative
    margin-top: 120px
    min-height: 616px
    background-color: #0074b1
    background-image: linear-gradient(-51deg, #55d0d1 0%, #316ca9 100%)
    &::before
        content: ''
        position: absolute
        bottom: 0
        left: 0
        width: 636px
        height: 651px
        background: url('../images/about-us-man.png')
        background-size: cover 
        background-repeat: no-repeat
    &__wrapper
        padding: 55px 0
        padding-left: 335px
    &__title
        color: #ffffff
        font-size: 60px
        font-weight: 800
    &__text
        margin-top: 40px
        p 
            margin-bottom: 35px
            color: #ffffff
            font-size: 23px
            &:last-child
                margin-bottom: 0