.advantages
    margin-top: 40px
    &-container
        display: flex
        justify-content: space-between
    &__img
        margin-left: 70px
        max-width: 358px
        width: calc(100vw / 1.15)
        img 
            max-width: 100%
    &__list
        margin-top: 50px
        display: flex
        justify-content: space-between
        flex-wrap: wrap 
    &-item
        position: relative
        width: 50%
        margin-bottom: 45px
        padding-right: 30px
        padding-left: calc(40px + 26px) 
        font-size: 18px
        font-weight: 500
        line-height: 24px
        &::before
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 40px
            height: 40px
            background: url('../images/icons/check-mark.svg')
            background-repeat: no-repeat
            background-size: cover 


@media ( max-width: 991px )
    .advantages__img
        display: none
    .advantages__list
        margin-top: 20px
    .advantages-item 
        margin-bottom: 30px
        font-size: 16px

@media ( max-width: 768px )
    .advantages-item
        width: 100%