.footer
    margin-top: 100px
    padding: 30px 0
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: center
    &-contacts
        display: flex
        align-items: center
        .contacts-item--mail 
            margin-right: 45px
    &__button
        padding-top: 18px 
        padding-bottom: 18px