.header
    &__wrapper
    &__top
        display: flex
        align-items: center
        justify-content: space-between

.nav 
    ul 
        display: flex
        align-items: center
        justify-content: space-between
    &__list
    &__link 
